name: Hello Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print Hello Message
        run: echo "Hello DevOps! You created your first GitHub Action!"
